// reset css 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
// scollbar
/* width */
::-webkit-scrollbar {
    width: 8px;
  } 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
  }
//body
#page-wrapper {
    padding: 30px 0px;
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
       .inner{
        .head_name{
          text-align: center;
          color: #7a7a7a;
          font-weight: 200px;
        }
            h1 {
                padding: 0px 0px 15px 0px;
                margin: 0px 0px 15px 0px;
                border-bottom: 1px solid #ffffff;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: bold;
            }
            td{
              padding: 30px 15px;
              border: none;
              .cart-image{
                display: block;
                img{
                  display: block;
                  width: 240px;
                  height: 240px;
                  object-fit: cover; 
                }
              }
            }
            .h4{
              display: block;
              text-decoration: none;
              color: black;
              font-size: 20px;
              font-weight: bold;
            }
            .cart_remove{
              text-decoration: none;
              color: black;
            }
            .h3{
              font-size: 22px;
              font-weight: bold;
            }
            .js-qty{
              .decrease,.increase{
                display: inline-block;
                font-size: 24px;
              }
              .input-quantity{
                border: none;
                display: inline-block;
                width: 100px;
              }
            }
        .cart_button{
          cursor: pointer;
          text-align: right;
          .update-cart,.check-out-cart{
            padding: 8px 10px;
            color: #ffffff;
            background-color: black;
            line-height: 1.42;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border: 1px solid transparent;
            border-radius: 3px;
            font-weight: bold;
          }
          .check-out-cart{
            margin-left: 5px;
          }
        }
       }
    }
}