// reset css 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Sans Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
// scollbar
/* width */
::-webkit-scrollbar {
  width: 8px;
} 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}
//header
.header1{
  text-transform: uppercase;
      .header-above {
        background: url("../image/product-banner/breadcrumb_bg5.jpg");
        padding: 30px 0;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
        position: relative;
        .bcrumb-left{
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          z-index: 1;
          position: absolute;
          width: 100%;
      }
        .bcrumb-right{
          position: absolute;
          top:50%;
          left: 45%;
          z-index: 1; 
          .wrapper{
            max-width: 1200px;
            margin: 0 auto;
              .content{
                text-align: center;
                color: #fff;
              h3{
                font-size: 24px;
                padding: 0px;
                font-weight: 600;
                text-transform: uppercase;
              }
              .content-small {
                text-transform:none;
                font-size: 16px;
              }
            }
          }
        }
  }
  .header-slider{
      position:fixed;
      top:0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      height: 80px;
      z-index: 999;
      .header-left{
          img{  
              margin-left: 30px;
              width: 100%;
              height:100%;
              // max-width: 1000px;
              object-fit: cover;
          }
      }
      .header-right{
          margin-left: 20rem;
          .header-right-run{
              display: block;
          }
          .nav-pills .nav-link,.nav-pills a{    
              top: 0;
              bottom: 0;   
              padding:0.4px 10px;
              font-size: 14px;
              color: white;           
              position:relative;  
              font-weight: bolder;    
              background-color: transparent;   
              z-index: 1;
              transition: color 0.5s;
              text-decoration: none !important;
         
              &::before{
                  content: '';
                  position: absolute;
                  left: 10px;
                  bottom: 0;
                  width: 0;
                  height: 0.5px;
                  transition: width 1s;   
                  z-index: 1;
                  background-color: #8c25cc;
              }
              &:hover{
                  color: #8c25cc;
                  &::before{
                      width: calc(100% - 20px);
                  }
              }
          }
          .nav-pills a{
              text-decoration: none;
              margin-top: 2.5px;
          }
          .nav-pills a:hover{
              color: #8c25cc;
              text-decoration: underline;
          }
          .nav{
              margin-bottom:20px;
          }
          .srcolldown{
              color: #000;
              position: fixed;
              top:0;
              left: 0;
              right: 0;
              z-index: 999;
          }
      }
  }  
}
//product detail
.product-single{
  padding: 30px 0px;
  display: flex;
  .product-single-image {
    margin-left: 20rem;
    display: inline-block;
    margin-right: 30px;
      img{
        width: 443px;
      }
    }
    .product-sing-content{
      display: inline-block;
      width: 585px;
      .pro-content-head{
        h1{
          font-size: 24px;
          font-weight: bold;
        }
      }
     .pro-text{
      margin-bottom: 10px;
      padding-bottom: 10px;
      .pro-brand, .pro-type, .pro-sku {
        display: inline-block;      
    }
      .pro-brand a, .pro-type a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
      }
     }
      .pro-price{
        padding-bottom: 10px;
        margin-bottom: 10px;
        .current-price{
          display: inline-block;
          margin-right: 15px;
          color: #d30000;
          font-weight: bold;
          font-size: 24px;
        }
        .original-price{
          display: inline-block;
          margin-right: 15px;
          font-size: 20px;
          color: #bebebe;
        }
        .sale-percentage{
          display: inline-block;
        }
      }
      .pro-short-desc{
        margin-bottom: 10px
        p {
          margin: 0 0 15px 0;
      }
      }
      .qty-addcart{
        .number-qty{
          font-weight: bold;
          margin-bottom: 5px;
          display: inline-block;
          min-width: 100px;
        }
        .js-qty{
          margin-bottom: 20px;
          display: inline-block;
          // max-width: 150px;
          .input-quantity{
            border: none;
            text-align: center;
            max-width: 100px;
          }
          button {
            border: none;
            background: #fff;
            padding: 0 8px;
            font-size: 24px;
            .fallback-text{
              outline: 0px;
              text-align: center;
            }
          }
        }   
      }
    .product-actions{
      .btnAddToCart, .btnBuyNow{
        background: #000000;
        border: 1px solid #000000;
        color: #fff;
        padding: 0px 15px;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .btnBuyNow{
        margin-left: 10px;
      }
    }
  }
}
 //product desc
.grid{
  margin-left: 10rem;
  .product-description{
    .tab{
      display: block;
      background: rgba(0, 0, 0, 0.5);
      width: 750px;
      .pro-tablinks{
        background: #000000;
        border: 1px solid #000000;
        color: #fff;
        padding: 0px 15px;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
